<nav>
  <a routerLink="/compras" routerLinkActive="active">Compras</a>
  <a routerLink="/compras-fechas" routerLinkActive="active">Buscar compras</a>
</nav>
<router-outlet></router-outlet>

<h2>Compras</h2>

<!--Prueba de botones
<ul>
  <li *ngFor="let prueba of botones">{{prueba.nombre}}, {{prueba.mostrar}}</li>
</ul>
-->

<div id="zona-botones">
  <app-lista-botones [lista]="botones" (enviarBoton)= "mostrarBoton($event)"></app-lista-botones>
</div>

<div id="zona-principal">

<table class="resultados">
    <tr>
  
      <th>Producto</th>
  
      <th>Cantidad</th>
  
      <th>Precio Kg</th>
  
      <th>Precio</th>
  
      <th *ngIf="!compraFinalizada">Eliminar</th>
    </tr>
    <tr *ngFor="let compra of compras">
      <td>{{compra.producto.nombre}}</td>
      <td>{{compra.cantidad}}</td>
      <td>{{compra.precio}}</td>
      <td>{{compra.cantidad * compra.precio | number: '1.0-2'}}</td>
      <td *ngIf="!compraFinalizada"> <button (click)=eliminarCompra(compra)>Eliminar</button></td>
    </tr>
  </table>

  <h1>Total: {{total}}</h1>  
  <br><br>

  <!--<button (click)=nuevoProducto() *ngIf ="!compraFinalizada">Nueva compra</button>-->
  <p *ngIf ="compraFinalizada">Compra guardada correctamente</p>

<div *ngIf="mostrarNuevo" class="formulario">
  <div class="nuevo-izquierda">    
    <input type="text" [(ngModel)]="searchText"><br>
    <select [(ngModel)]="compraActual.producto" size="5">
      <option *ngFor="let producto of productos$| async | sort:'nombre' |filter: searchText" [ngValue]="producto">
        {{producto.id_producto}} {{producto.nombre}} stock: {{producto.stock}}</option>
    </select><br>
  </div>
  <div class="nuevo-derecha">
    <label>Cantidad:</label> <input type="text" [(ngModel)]="compraActual.cantidad"> <br>
    <label>Precio: </label> <input type="number" [(ngModel)]="compraActual.precio">
  </div>
</div>
<br>
<!--<button (click) = enviarCompra() *ngIf ="compras.length > 0 && !compraFinalizada">Enviar compra</button>-->
<app-nuevo *ngIf = "mostrarNuevoProducto"></app-nuevo>
</div>


