<nav>
  <a routerLink="/compras" routerLinkActive="active">Compras</a>
  <a routerLink="/compras-fechas" routerLinkActive="active">Buscar compras</a>
</nav>
<router-outlet></router-outlet>

<h2 class="title is-3">Compras</h2>

<!--Prueba de botones
<ul>
  <li *ngFor="let prueba of botones">{{prueba.nombre}}, {{prueba.mostrar}}</li>
</ul>
-->

<div class="columns">

  <div class="column is-three-quarters">
    <div class="zona-tabla">
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Kg</th>
            <th>Precio</th>
            <th *ngIf="!compraFinalizada">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compra of compras">
            <td>{{compra.producto.nombre}}</td>
            <td>{{compra.cantidad}}</td>
            <td>{{compra.precio}}</td>
            <td>{{compra.cantidad * compra.precio | number: '1.0-2'}}</td>
            <td *ngIf="!compraFinalizada"> <button (click)=eliminarCompra(compra)>Eliminar</button></td>
          </tr>
        </tbody>
      </table>

      <h1>Total: {{totalCompra()}}</h1>
      <br><br>
      <!--<button (click)=nuevoProducto() *ngIf ="!compraFinalizada">Nueva compra</button>-->
      <p *ngIf="compraFinalizada">Compra guardada correctamente</p>

    </div>
    
    <form *ngIf="mostrarNuevo" [formGroup]="formulario" [class.error]="!formulario.valid && formulario.touched" #elementoForm>
      
      <div class="columns">
        <div class="column">
          <label class="label">Buscar:</label>
          <input class="input" name="buscar" type="text" (keypress)="procesarKeypress($event, producto)" #buscar
            [formControl]="formulario.controls['buscar']">
          <select class="select is-multiple" name="producto" size="5" (keypress)="procesarKeypress($event, cantidad)" #producto
            [formControl]="formulario.controls['producto']">
            <option
              *ngFor="let producto of productos$| async | sort:'nombre' |filter: formulario.controls['buscar'].value"
              [ngValue]="producto">
              {{producto.id_producto}} {{producto.nombre}} stock: {{producto.stock}}</option>
          </select><br>
          <div class="help is-danger"
            *ngIf="!formulario.controls['producto'].valid && formulario.controls['producto'].touched">Seleccione un
            producto</div>
        </div>
        <div class="column">
          <label class="label">Cantidad:</label> <input class="input" type="number" name="cantidad"
            (keypress)="procesarKeypress($event, precio)" #cantidad [formControl]="formulario.controls['cantidad']"><br>

          <div class="help is-danger"
            *ngIf="formulario.controls['cantidad'].hasError('required') && formulario.controls['cantidad'].touched">
            Introduzca la cantidad</div>
          <div class="help is-danger"
            *ngIf="formulario.controls['cantidad'].hasError('min') && formulario.controls['cantidad'].touched">La cantidad
            debe ser mayor que 0</div>


          <label class="label">Precio: </label>
          <input class="input" type="number" name="precio" min=0 (keypress)="procesarKeypress($event, enviar)" #precio
            [formControl]="formulario.controls['precio']">
          <div class="help is-danger"
            *ngIf="formulario.controls['precio'].hasError('required') && formulario.controls['precio'].touched">
            Introduzca el precio</div>
          <div class="help is-danger"
            *ngIf="formulario.controls['precio'].hasError('min') && formulario.controls['precio'].touched">El precio
            debe ser mayor que 0</div>
          <div id="enviar" #enviar></div>
        </div>
      </div>
    </form>
  
    <div class="crear-nuevo">
      <!--<button (click) = enviarCompra() *ngIf ="compras.length > 0 && !compraFinalizada">Enviar compra</button>-->
      <app-nuevo *ngIf="mostrarNuevoProducto" (productoGuardado)="nuevoGuardado($event)"></app-nuevo>
    </div>

  </div>

  <div class="column">
    <app-lista-botones [lista]="botones" (enviarBoton)="mostrarBoton($event)"></app-lista-botones>
  </div>

</div>
<!--Class container-->