<nav>
  <a routerLink="/compras" routerLinkActive="active">Compras</a>
  <a routerLink="/compras-fechas" routerLinkActive="active">Buscar compras</a>
</nav>
<router-outlet></router-outlet>

<h2 class="title is-3">Compras</h2>

<!--Prueba de botones
<ul>
  <li *ngFor="let prueba of botones">{{prueba.nombre}}, {{prueba.mostrar}}</li>
</ul>
-->

<div class="columns">

  <div class="column is-three-quarters">
    <div class="zona-tabla">
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Kg</th>
            <th>Precio</th>
            <th *ngIf="!compraFinalizada">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compra of compras">
            <td>{{compra.producto.nombre}}</td>
            <td>{{compra.cantidad}}</td>
            <td>{{compra.precio}}</td>
            <td>{{compra.cantidad * compra.precio | number: '1.0-2'}}</td>
            <td *ngIf="!compraFinalizada"> <button (click)=eliminarCompra(compra)>Eliminar</button></td>
          </tr>
        </tbody>
      </table>

      <h1>Total: {{total}}</h1>
      <br><br>
      <!--<button (click)=nuevoProducto() *ngIf ="!compraFinalizada">Nueva compra</button>-->
      <p *ngIf="compraFinalizada">Compra guardada correctamente</p>

    </div>

    <div *ngIf="mostrarNuevo" class="columns">
      <div class="column">
        <label class="label">Buscar:</label>
        <input class="input" type="text" [(ngModel)]="searchText" (keypress)="procesarKeypress($event, producto)" #buscar><br>
        <select class="select is-multiple" [(ngModel)]="compraActual.producto" size="5" (keypress)="procesarKeypress($event, cantidad)" #producto>
          <option *ngFor="let producto of productos$| async | sort:'nombre' |filter: searchText" [ngValue]="producto">
            {{producto.id_producto}} {{producto.nombre}} stock: {{producto.stock}}</option>
        </select><br>
      </div>
      <div class="column">
        <label class="label">Cantidad:</label> <input class="input" type="number"
          [(ngModel)]="compraActual.cantidad" (keypress)="procesarKeypress($event, precio)" #cantidad><br>
        <label class="label">Precio: </label> <input class="input" type="number" [(ngModel)]="compraActual.precio" 
        (keypress)="procesarKeypress($event, enviar)" #precio>
        <div id="enviar" #enviar></div>
      </div>
    </div>
    <div class="crear-nuevo">
      <!--<button (click) = enviarCompra() *ngIf ="compras.length > 0 && !compraFinalizada">Enviar compra</button>-->
      <app-nuevo *ngIf="mostrarNuevoProducto"></app-nuevo>
    </div>

  </div>

  <div class="column">
    <app-lista-botones [lista]="botones" (enviarBoton)="mostrarBoton($event)"></app-lista-botones>
  </div>

</div>
<!--Class container-->