{{enviar}}
<form *ngIf="!enviado" [formGroup]="formulario" [class.error]="!formulario.valid && formulario.touched" #elementoForm>
    <div>
        <div class="columns">
            <div class="column">
                <label class="label">Nombre: </label>
                <input class="input" name="nombre" type="text" autocomplete="off"
                    (keypress)="procesarKeypress($event, tipo)" #nombre [formControl]="formulario.controls['nombre']">
                <div class="help is-danger" *ngIf="productoRepetido!='' && formulario.controls['nombre'].value == productoRepetido">Ya existe un producto
                    {{formulario.controls['nombre'].value}}</div>
                <div class="help is-danger"
                    *ngIf="formulario.controls['nombre'].hasError('required') && formulario.controls['nombre'].touched">
                    Falta el nombre del producto</div>
                <div id="listaProductos">
                    <ul>
                        <li
                            *ngFor="let p of productos$ | async | sort:'nombre' | filter: formulario.controls['nombre'].value">
                            {{p.nombre}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <label class="label">Tipo: </label>
                <div class="select">
                    <select class="select" name="tipo" [formControl]="formulario.controls['tipo']" #tipo
                        (change)="onChange($event,precio)">
                        <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{tipo}}</option>
                    </select>
                    <div #enviar id="enviar"></div>
                </div>
                <div class="help is-danger"
                    *ngIf="!formulario.controls['tipo'].valid && formulario.controls['tipo'].touched">Seleccione un tipo
                </div>
                <label class="label">Precio: </label>
                <input class="input" id="precio" type="number" #precio (keypress)="procesarKeypress($event, enviar)"
                    [formControl]="formulario.controls['precio']">

                <div class="help is-danger"
                    *ngIf="formulario.controls['precio'].hasError('required') && formulario.controls['precio'].touched">
                    Introduzca el precio</div>
                <div class="help is-danger"
                    *ngIf="formulario.controls['precio'].hasError('min') && formulario.controls['precio'].touched">El
                    precio debe ser mayor que 0</div>

            </div>

        </div>
    </div>
</form>
<div *ngIf="enviado">
    <h2>Nuevo producto creado</h2>
</div>