<nav>
  <a routerLink="/purchases" routerLinkActive="active">purchases</a>
  <a routerLink="/purchases-dates" routerLinkActive="active">Buscar purchases</a>
</nav>
<router-outlet></router-outlet>
<app-select-dates (enviardates) = "buscarpurchases($event)"></app-select-dates>

<table class="resultados" *ngFor = "let compra of purchases | groupBydate">  
  <tr>
    <td>date</td>
    <td>{{compra.key}}</td>
  </tr>
  <tr>
    <th>Product</th>
    <th>quantity</th>
    <th>price Kg</th>
    <th>price</th>
  </tr>  
  <tr *ngFor = "let item of compra.value">
    <td>{{item.productId | product}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.price}}</td>
    <td>{{item.quantity * item.price | number: '1.0-2'}}</td>
  </tr>
</table>

