<nav>
  <a routerLink="/purchases" routerLinkActive="active">Compras</a>
  <a routerLink="/purchases-dates" routerLinkActive="active">Buscar Compras</a>
</nav>
<router-outlet></router-outlet>
<app-select-dates (enviardates) = "findPurchases($event)"></app-select-dates>

<table class="resultados" *ngFor = "let purchase of purchases | groupBydate">  
  <tr>
    <td>Fecha</td>
    <td>{{purchase.key}}</td>
  </tr>
  <tr>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Precio Kg/Unidad</th>
    <th>Total</th>
  </tr>  
  <tr *ngFor = "let item of purchase.value">
    <td>{{item.product.name}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.price}}</td>
    <td>{{item.quantity * item.price | number: '1.0-2'}}</td>
  </tr>
</table>

