<h2 class="text-2xl font-bold mb-4">Buscador de compras</h2>
<app-show-errors [typeError]="'Error404'"></app-show-errors>

<app-select-dates (enviardates)="findPurchases($event)"></app-select-dates>


@for (purchase of purchases$ | async | groupBydate; track purchase) {
  <div class="flex-1">
    <div class="font-semibold mb-2">Fecha: {{purchase.key}}</div>
    <p-table [value]="purchase.value" class="mb-4">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Kg/Unidad</th>
          <th scope="col">Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{item.product.id}} {{item.product.name}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity * item.price | number: '1.0-2'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}

