<h2 class="title is-3">Productos</h2>

<div class="columns">
  <div class="column is-three-quarters">
    <app-nuevo *ngIf="nuevo" (productoGuardado)="nuevoProductoGuardado(event$)"></app-nuevo>

    <label class="label">Buscar productos: </label>
    <input class="input" type="text" [(ngModel)]="searchText"> <br>
    <div id="listaProductos">
      <ul class="productos">
        <li *ngFor="let producto of productos$ | async | sort:'nombre' | filter: searchText">
          <span class="id_producto">{{producto.id_producto}}</span>
          <input class="nombre" type="text" [(ngModel)]="producto.nombre">
          <span class="stock"> {{producto.stock}} </span>
          <input class="precio" type="number" [(ngModel)]="producto.precio">
          <button (click)="cambioPrecio(producto, precioAntiguo)">Guardar</button>
          <a [title]="producto.nombre + ' details'" [routerLink]="['/producto', producto.id_producto]">
            Detalle
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="column">
    <app-lista-botones [lista]="botones" (enviarBoton)= "mostrarBoton($event)"></app-lista-botones>
  </div>
</div>


