<div *ngIf ="producto != undefined">
  <h2 class="title is-3">
    Detalle {{producto.nombre}}
  </h2>

  <div class="columns">
    <div class="column is-three-quarters">
      <div class="formulario">

        <p><label class="etiquetas">Identificador:</label> <label class="id_producto">{{producto.id_producto}}</label></p>
        <label class="etiquetas">Nombre:</label><input class = "input" id="nombre" type="text" [(ngModel)] = "producto.nombre"> <br>
        <label class="etiquetas">Stock:</label><label class = "label" id="stock">  {{producto.stock}} </label> <br>
        <label class="etiquetas">Precio:</label><input class= "input" id="precio" type="text" [(ngModel)] = "producto.precio"><br>
        <label class="etiquetas">Tipo:</label>
        <select class="select" id="tipo" [(ngModel)] = "producto.tipo">
          <option *ngFor = "let tipo of tipos" [ngValue] = "tipo">{{tipo}}</option>
          </select>
      </div>
    </div>
    <div class="column">
      <app-lista-botones [lista]="botones" (enviarBoton)= "mostrarBoton($event)"></app-lista-botones>
    </div>
  </div>
  
</div>
<div *ngIf ="producto == undefined">
  <h2>No se ha encontrado el producto</h2>
</div>
