<!-- Título y barra de acciones -->
<div class="max-w-4xl mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Caja</h2>

  <app-show-errors [typeError]="'Error404'"></app-show-errors>

  <div class="flex gap-2 mb-4">
    <input pInputText type="text" [(ngModel)]="findSale" placeholder="Buscar venta..." class="w-full" />
    <button pButton type="button" label="Buscar" (click)="openSale(findSale)"></button>
  </div>

  @if (saleId > 0 && !open) {
    <p-message severity="success">Compra finalizada. Código Venta: {{saleId}}</p-message>
  }

  <div class="flex w-full gap-6">
    

    <!-- Tabla y formularios -->
    <div class="flex-1">
      <div class="overflow-x-auto">
        <p-table [value]="saleList" class="mb-4">
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Kg</th>
              <th>Precio</th>
              @if (saleId == 0 || open) {
                <th>Eliminar</th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.product.id}}</td>
              <td>{{item.product.name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity * item.price | number: '1.0-2'}}</td>
              @if (saleId == 0 || open) {
                <td>
                  <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteItem(item)"></button>
                </td>
              }
            </tr>
          </ng-template>
        </p-table>
      </div>
      <h2 class="text-lg font-semibold mb-2">Total: {{totalSale()}}</h2>

      @if (saleId == 0 || open) {
        <div class="mb-4">
          <p-checkbox inputId="creditCard" [(ngModel)]="creditCard" binary="true"></p-checkbox>
          <label for="creditCard" class="ml-2">Pago con Tarjeta</label>
        </div>
      }

      <app-common-form [display]="showNew" [formGroup]="formGroup" [formFields]="formFields" formName="Añadir producto" (sendButtonOption)="onSubmit($event)"></app-common-form>

      
    </div>
    <!-- Menú vertical de acciones -->
    <div class="w-48">
      <app-button-list [lista]="buttons" (sendButtonType)="showButtonType($event)"></app-button-list>
    </div>
  </div>
</div>