<nav>
  <a routerLink="/sales" routerLinkActive="active">sales</a>
  <a routerLink="/sales-dates" routerLinkActive="active">Buscar ventas</a>
</nav>
<router-outlet></router-outlet>

<h2 class="title is-3">sales</h2>

<input type="text" [(ngModel)]="buscarSale">
<button (click)=abrirSale(buscarSale)>Buscar</button>
<br><br>

<div *ngIf="codigoSale > 0 && !abierta">
  <p>Sale finalizada</p>
  <p>Código Sale: {{codigoSale}}</p>
</div>

<div class="columns">
  <div class="column is-three-quarters">
    <div class="zona-tabla">
      <!--
      <table class="resultados">
        <tr>
          <th>Product</th>
          <th>quantity</th>
          <th>price Kg</th>
          <th>price</th>
          <th *ngIf="codigoSale == 0 || abierta">Eliminar</th>
        </tr>
        <tr *ngFor="let venta of ventas">
          <td>{{venta.product.name}}</td>
          <td>{{venta.quantity}}</td>
          <td>{{venta.price}}</td>
          <td>{{venta.quantity * venta.price | number: '1.0-2'}}</td>
          <td *ngIf="codigoSale == 0 || abierta"> <button (click)=eliminarSale(venta)>Eliminar</button></td>
        </tr>
      </table>
      <h2>Total : {{total}}</h2>
      <br>

      <div *ngIf="codigoSale == 0 || abierta">
        <input type="checkbox" [(ngModel)]="tarjeta" /> Pago con tarjeta
      </div>
      -->
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>quantity</th>
            <th>price Kg</th>
            <th>price</th>
            <th *ngIf="codigoSale == 0 || abierta">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of ventas">
            <td>{{venta.product.name}}</td>
            <td>{{venta.quantity}}</td>
            <td>{{venta.price}}</td>
            <td>{{venta.quantity * venta.price | number: '1.0-2'}}</td>
            <td *ngIf="codigoSale == 0 || abierta"> <button (click)=eliminarSale(venta)>Eliminar</button></td>
          </tr>
        </tbody>
      </table>
      <h2>Total : {{totalSale()}}</h2>
      <br>

      <div *ngIf="codigoSale == 0 || abierta">
        <input type="checkbox" [(ngModel)]="tarjeta" /> Pago con tarjeta
      </div>
    </div>

    <form *ngIf="mostrarNew" [formGroup]="formulario" [class.error]="!formulario.valid && formulario.touched" #elementoForm>
      
      <div class="columns">
      <div class="column">
        <label class="label">Buscar product: </label>
        <input class="input" placeholder="Buscar product" type="text"
          (keypress)="procesarKeypress($event, product)" #buscar [formControl]="formulario.controls['buscar']" />


        <select size="5"(keypress)="procesarKeypress($event, quantity)" #product
          [formControl]="formulario.controls['product']">
          <option
            *ngFor="let product of products$| async | sort:'name' |filter: formulario.controls['buscar'].value"
            [ngValue]="product">
            {{product.productId}} {{product.name}} {{product.price}}</option>
        </select>
        <div class="help is-danger"
          *ngIf="!formulario.controls['product'].valid && formulario.controls['product'].touched">Seleccione un
          product</div>

      </div>
      <div class="column">
        <label class="label"> quantity</label>
        <input class="input" type="number" (keypress)="procesarKeypress($event, enviar)" #quantity
          [formControl]="formulario.controls['quantity']">
        <div class="help is-danger"
          *ngIf="formulario.controls['quantity'].hasError('required') && formulario.controls['quantity'].touched">
          Introduzca la quantity</div>
        <div class="help is-danger"
          *ngIf="formulario.controls['quantity'].hasError('min') && formulario.controls['quantity'].touched">La quantity
          debe ser mayor que 0</div>
        <div id="enviar" #enviar></div>
      </div>
    </div>
    </form>
  </div>

  <div class="column">
    <app-button-list [lista]="botones" (enviarButtonType)="mostrarButtonType($event)"></app-button-list>
  </div>

</div>