<h2 class="title is-3">Caja</h2>

<app-errores [typeError]="'Error404'"></app-errores>

<input class="input hola" type="text" [(ngModel)]="findSale">
<button class="button hola" (click)=openSale(findSale)>Buscar</button>
<br><br>

<div *ngIf="saleId > 0 && !open">
  <p>Compra finalizada</p>
  <p>Código Venta: {{saleId}}</p>
</div>

<div class="columns">
  <div class="column is-three-quarters">
    <div class="zona-tabla">
      <!--
      <table class="resultados">
        <tr>
          <th>Product</th>
          <th>quantity</th>
          <th>price Kg</th>
          <th>price</th>
          <th *ngIf="saleId == 0 || open">Eliminar</th>
        </tr>
        <tr *ngFor="let sale of sales">
          <td>{{sale.product.name}}</td>
          <td>{{sale.quantity}}</td>
          <td>{{sale.price}}</td>
          <td>{{sale.quantity * sale.price | number: '1.0-2'}}</td>
          <td *ngIf="saleId == 0 || open"> <button (click)=eliminarSale(sale)>Eliminar</button></td>
        </tr>
      </table>
      <h2>Total : {{total}}</h2>
      <br>

      <div *ngIf="saleId == 0 || open">
        <input type="checkbox" [(ngModel)]="creditCard" /> Pago con creditCard
      </div>
      -->
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Kg</th>
            <th>Precio</th>
            <th *ngIf="saleId == 0 || open">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of sales">
            <td>{{sale.product.name}}</td>
            <td>{{sale.quantity}}</td>
            <td>{{sale.price}}</td>
            <td>{{sale.quantity * sale.price | number: '1.0-2'}}</td>
            <td *ngIf="saleId == 0 || open"> <button (click)=eliminarSale(sale)>Eliminar</button></td>
          </tr>
        </tbody>
      </table>
      <h2>Total : {{totalSale()}}</h2>
      <br>

      <div *ngIf="saleId == 0 || open">
        <input type="checkbox" name="checkCreditCard" [(ngModel)]="creditCard" /> Pago con Tarjeta
      </div>
    </div>

    <form *ngIf="showNew" [formGroup]="formGroup" [class.error]="!formGroup.valid && formGroup.touched" #elementForm>

      <div class="columns">
        <div class="column">
          <p>
            <label class="label">Buscar producto: </label>
            <input class="input" placeholder="Buscar product" type="text" (keypress)="keyPress($event, product)" #find
              [formControl]="formGroup.controls['find']" />
          </p>
          <p>
            <select class="input is-arrowless" size="5" (keypress)="keyPress($event, quantity)" #product
              [formControl]="formGroup.controls['product']">
              <option *ngFor="let product of products$| async | sort:'name' |filter: formGroup.controls['find'].value"
                [ngValue]="product">
                {{product.id}} {{product.name}} {{product.price}}</option>
            </select>
          </p>
          <div class="help is-danger" *ngIf="checkError('product')">
            {{getError('Producto', 'product')}}
          </div>

        </div>
        <div class="column">
          <label class="label"> Cantidad</label>
          <input class="input" type="number" (keypress)="keyPress($event, send)" #quantity
            [formControl]="formGroup.controls['quantity']">
          <div class="help is-danger" *ngIf="checkError('quantity')">
            {{getError('Cantidad', 'quantity')}}
          </div>
          <div id="send" #send></div>
        </div>
      </div>
    </form>
  </div>

  <div class="column">
    <app-button-list [lista]="buttons" (sendButtonType)="showButtonType($event)"></app-button-list>
  </div>

</div>