<app-show-errors></app-show-errors>

<!--<div id="principal">
    <app-logo></app-logo>
    <div id="header">
        <ul class="nav">
            <li><a routerLink="/sales" routerLinkActive="active">Caja</a></li>
            <li><a routerLink="/products" routerLinkActive="active">Productos</a></li>
            <li><a routerLink="/purchases" routerLinkActive="active">Compras</a></li>
            <li><app-menu-user></app-menu-user></li>
        </ul>
    </div>    
    <router-outlet></router-outlet>
</div>-->


<div class="max-w-200 min-w-75 mx-auto text-left">
    @if (router.url !== '/login') {
        <app-logo></app-logo>
        <p-menubar [model]="items">
            <ng-template pTemplate="start">
                <span class="font-bold text-lg">Menú</span>
            </ng-template>
            <ng-template pTemplate="end">
                <app-menu-user></app-menu-user>
            </ng-template>
        </p-menubar>
    }
    <router-outlet></router-outlet>
    
</div>
