<nav>
  <a routerLink="/caja" routerLinkActive="active">Caja</a>
  <a routerLink="/ventas-fechas" routerLinkActive="active">Buscar ventas</a>
</nav>
<router-outlet></router-outlet>

<h2 class="title is-3">Buscador de ventas</h2>

<app-seleccion-fechas (enviarFechas)="buscarCompras($event)"></app-seleccion-fechas>

<table class="table table is-striped" *ngFor="let venta of ventas">
  <thead>
    <tr>
      <th>Id compra</th>
      <td>{{venta.id_ventas}} </td>
    </tr>
    <tr>
      <th>Fecha</th>
      <td>{{venta.fecha | date: 'dd-MM-yy'}}</td>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio Kg</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of venta.elementos">
      <td>{{item.id_producto | producto}}</td>
      <td>{{item.cantidad}}</td>
      <td>{{item.precio}}</td>
      <td>{{item.cantidad * item.precio | number: '1.0-2'}}</td>
    </tr>
  </tbody>
</table>


<!--
<ul>
  <li *ngFor = "let venta of ventas">{{venta.id_ventas}} {{venta.fecha | date: 'dd-MM-yy'}}
    <ul>
      <li *ngFor = "let item of venta.elementos">
        {{item.id_producto | producto}} {{item.cantidad}} {{item.precio}}
      </li>
    </ul>
  </li>
</ul>-->
<br>
{{total}}