<nav>
  <a routerLink="/caja" routerLinkActive="active">Caja</a>
  <a routerLink="/ventas-fechas" routerLinkActive="active">Buscar ventas</a>
</nav>
<router-outlet></router-outlet>

<h2 class="title is-3">Caja</h2>

<input type="text" [(ngModel)]="buscarVenta">
<button (click)=abrirVenta(buscarVenta)>Buscar</button>
<br><br>

<div *ngIf="codigoVenta > 0 && !abierta">
  <p>Venta finalizada</p>
  <p>Código Venta: {{codigoVenta}}</p>
</div>

<div class="columns">
  <div class="column is-three-quarters">
    <div class="zona-tabla">
      <!--
      <table class="resultados">
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Kg</th>
          <th>Precio</th>
          <th *ngIf="codigoVenta == 0 || abierta">Eliminar</th>
        </tr>
        <tr *ngFor="let venta of ventas">
          <td>{{venta.producto.nombre}}</td>
          <td>{{venta.cantidad}}</td>
          <td>{{venta.precio}}</td>
          <td>{{venta.cantidad * venta.precio | number: '1.0-2'}}</td>
          <td *ngIf="codigoVenta == 0 || abierta"> <button (click)=eliminarVenta(venta)>Eliminar</button></td>
        </tr>
      </table>
      <h2>Total : {{total}}</h2>
      <br>

      <div *ngIf="codigoVenta == 0 || abierta">
        <input type="checkbox" [(ngModel)]="tarjeta" /> Pago con tarjeta
      </div>
      -->
      <table class="table is-striped">
        <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Kg</th>
          <th>Precio</th>
          <th *ngIf="codigoVenta == 0 || abierta">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of ventas">
          <td>{{venta.producto.nombre}}</td>
          <td>{{venta.cantidad}}</td>
          <td>{{venta.precio}}</td>
          <td>{{venta.cantidad * venta.precio | number: '1.0-2'}}</td>
          <td *ngIf="codigoVenta == 0 || abierta"> <button (click)=eliminarVenta(venta)>Eliminar</button></td>
        </tr>
      </tbody>
      </table>
      <h2>Total : {{totalVenta()}}</h2>
      <br>

      <div *ngIf="codigoVenta == 0 || abierta">
        <input type="checkbox" [(ngModel)]="tarjeta" /> Pago con tarjeta
      </div>
    </div>

    <div *ngIf="mostrarNuevo" class="columns">
      <div class="column">
        <label class="label">Buscar producto: </label>
        <input class="input" placeholder="Buscar producto" type="text" [(ngModel)]="searchText" (keypress)="procesarKeypress($event, producto)" #buscar [formControl]="formulario.controls['buscar']"/>
        
        
        <select size="5" [(ngModel)]="ventaActual.producto" (keypress)="procesarKeypress($event, cantidad)"  #producto [formControl]="formulario.controls['producto']">
          <option *ngFor="let producto of productos$| async | sort:'nombre' |filter: formulario.controls['buscar'].value" [ngValue]="producto">
            {{producto.id_producto}} {{producto.nombre}} {{producto.precio}}</option>
        </select>   
        <div class="help is-danger"
            *ngIf="!formulario.controls['producto'].valid && formulario.controls['producto'].touched">Seleccione un
            producto</div>   

      </div>
      <div class="column">
        <label class="label"> Cantidad</label>
         <input class="input" type="number" (keypress)="procesarKeypress($event, enviar)" #cantidad [formControl]="formulario.controls['cantidad']">
         <div class="help is-danger"
            *ngIf="formulario.controls['cantidad'].hasError('required') && formulario.controls['cantidad'].touched">
            Introduzca la cantidad</div>
          <div class="help is-danger"
            *ngIf="formulario.controls['cantidad'].hasError('min') && formulario.controls['cantidad'].touched">La cantidad
            debe ser mayor que 0</div>
         <div id="enviar" #enviar></div>
      </div>
    </div>
  </div>

  <div class="column">
    <app-lista-botones [lista]="botones" (enviarBoton)="mostrarBoton($event)"></app-lista-botones>
  </div>

</div>