#listaProducts {
    max-height: 300px;
    overflow : auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

span.id, span.stock {
    width: 10%;
    max-width: 40px;
    background: #288033;
    display:inline-block;
    text-align: center;
}

span.name {        
    width: 50%;
    max-width: 200px;
    background: #9CFFA9;
    display:inline-block;
}

li {
    width: 80%;
    list-style: none;
}


input.price {
    width: 10%;
    max-width: 60px;
}