<h2 class="title is-3">Products</h2>

<div class="columns">
  <div class="column is-three-quarters">
    <app-new *ngIf="new" (productGuardado)="newProductGuardado(event$)"></app-new>

    <label class="label">Buscar products: </label>
    <input class="input" type="text" [(ngModel)]="searchText"> <br>
    <div id="listaProducts">
      <ul class="products">
        <li *ngFor="let product of products$ | async | sort:'name' | filter: searchText">
          <span class="productId">{{product.productId}}</span>
          <input class="name" type="text" [(ngModel)]="product.name">
          <span class="stock"> {{product.stock}} </span>
          <input class="price" type="number" [(ngModel)]="product.price">
          <button (click)="cambioprice(product, priceAntiguo)">Guardar</button>
          <a [title]="product.name + ' details'" [routerLink]="['/product', product.productId]">
            Detalle
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="column">
    <app-button-list [lista]="botones" (enviarButtonType)= "showButtonType($event)"></app-button-list>
  </div>
</div>


