<h2 class="title is-3">Productos</h2>

<div class="columns">
  <div class="column is-three-quarters">
    <app-new *ngIf="new" (savedProduct)="savedNewProduct(event$)"></app-new>

    <label class="label">Buscar productos: </label>
    <input class="input" type="text" [(ngModel)]="searchText"> <br>
    <h3 *ngIf="updatedProduct.show">Se ha actualizado el producto: {{updatedProduct.product.name}}</h3>
    <div id="listaProducts">
      <ul class="products">
        <li *ngFor="let product of products$ | async | sort:'name' | filter: searchText">
          <span class="id">{{product.id}}</span>
          <input class="name" type="text" [(ngModel)]="product.name">
          <span class="stock"> {{product.stock}} </span>
          <input class="price" type="number" [(ngModel)]="product.price">
          <button (click)="changePrice(product, oldPrice)">Guardar</button>
          <a [title]="product.name + ' details'" [routerLink]="['/product', product.id]">
            Detalle
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="column">
    <app-button-list [lista]="botones" (sendButtonType)= "showButtonType($event)"></app-button-list>
  </div>
</div>


