<div class="max-w-4xl mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Compras</h2>

  <app-show-errors [typeError]="'Error404'"></app-show-errors>

  <div class="flex flex-col md:flex-row w-full gap-6">
    <div class="w-full md:w-48 order-1 md:order-2 mb-4 md:mb-0">
      <app-button-list [lista]="buttons" (sendButtonType)="showButtonType($event)"></app-button-list>
    </div>
    <div class="flex-1 order-2 md:order-1">
      <div class="overflow-x-auto">
        <p-table [value]="purchaseList" class="mb-4">
          <ng-template pTemplate="header">
            <tr>
              @if (purchaseCompleted) {
              <th scope="col">Id</th>
              }
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Kg/Unidad</th>
              <th scope="col">Precio</th>
              @if (!purchaseCompleted) {
              <th scope="col">Eliminar</th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              @if (purchaseCompleted) {
              <td>{{item.id}}</td>
              }
              @if (item.product) {
              <td>{{item.product.name}}</td>
              }
              @if (!item.product) {
              <td>{{item.productId | product}}</td>
              }
              <td>{{item.quantity}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity * item.price | number: '1.0-2'}}</td>
              @if (!purchaseCompleted) {
              <td> <button (click)=deletePurchase(item)>Eliminar</button></td>
              }
            </tr>
          </ng-template>
        </p-table>

        <h1>Total: {{totalPurchase()}}</h1>
        <br><br>
        @if (purchaseCompleted) {
        <p>Compra guardada correctamente</p>
        }

      </div>

      <app-common-form [display]="showNew" [formGroup]="formGroup" [formFields]="formFields" formName="Añadir producto"
        (sendButtonOption)="onSubmit($event)"></app-common-form>


      <div class="crear-new">
        @if (showNewProduct) {
        <app-new (savedProduct)="newGuardado($event)"></app-new>
        }
      </div>


    </div>

  </div>