<nav>
  <a routerLink="/purchases" routerLinkActive="active">Compras</a>
  <a routerLink="/purchases-dates" routerLinkActive="active">Buscar compras</a>
</nav>
<router-outlet></router-outlet>

<h2 class="title is-3">Compras</h2>

<!--Prueba de botones
<ul>
  <li *ngFor="let prueba of botones">{{prueba.name}}, {{prueba.show}}</li>
</ul>
-->

<div class="columns">

  <div class="column is-three-quarters">
    <div class="zona-tabla">
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Kg/Unidad</th>
            <th>Precio</th>
            <th *ngIf="!purchaseCompleted">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of purchases">
            <td>{{purchase.product.name}}</td>
            <td>{{purchase.quantity}}</td>
            <td>{{purchase.price}}</td>
            <td>{{purchase.quantity * purchase.price | number: '1.0-2'}}</td>
            <td *ngIf="!purchaseCompleted"> <button (click)=deletePurchase(compra)>Eliminar</button></td>
          </tr>
        </tbody>
      </table>

      <h1>Total: {{totalPurchase()}}</h1>
      <br><br>
      <!--<button (click)=newProduct() *ngIf ="!purchaseCompleted">Nueva compra</button>-->
      <p *ngIf="purchaseCompleted">Compra guardada correctamente</p>

    </div>

    <form *ngIf="showNew" [formGroup]="formGroup" [class.error]="!formGroup.valid && formGroup.touched" #elementForm>

      <div class="columns">
        <div class="column">
          <label class="label">Buscar:</label>
          <input class="input" name="find" type="text" (keypress)="keyPress($event, product)" #find
            [formControl]="formGroup.controls['find']">
          
            <select id="product" name="product" size="5" (keypress)="keyPress($event, quantity)" #product
              [formControl]="formGroup.controls['product']">
              <option *ngFor="let product of products$| async | sort:'name' |filter: formGroup.controls['find'].value"
                [ngValue]="product">
                {{product.id}} {{product.name}} stock: {{product.stock}}</option>
            </select>
         
          
          <div class="help is-danger"
            *ngIf="!formGroup.controls['product'].valid && formGroup.controls['product'].touched">Seleccione un
            producto</div>
        </div>
        <div class="column">
          <label class="label">Cantidad:</label> <input class="input" type="number" id="quantity" name="quantity"
            (keypress)="keyPress($event, price)" #quantity [formControl]="formGroup.controls['quantity']"><br>

          <div class="help is-danger"
            *ngIf="formGroup.controls['quantity'].hasError('required') && formGroup.controls['quantity'].touched">
            Introduzca la cantidad</div>
          <div class="help is-danger"
            *ngIf="formGroup.controls['quantity'].hasError('min') && formGroup.controls['quantity'].touched">La cantidad
            debe ser mayor que 0</div>


          <label class="label">Precio: </label>
          <input class="input" type="number" id="price" name="price" min=0 (keypress)="keyPress($event, send)" #price
            [formControl]="formGroup.controls['price']">
          <div class="help is-danger"
            *ngIf="formGroup.controls['price'].hasError('required') && formGroup.controls['price'].touched">
            Introduzca el precio</div>
          <div class="help is-danger"
            *ngIf="formGroup.controls['price'].hasError('min') && formGroup.controls['price'].touched">El precio
            debe ser mayor que 0</div>
          <div id="send" #send></div>
        </div>
      </div>
    </form>

    <div class="crear-new">
      <!--<button (click) = sendPurchase() *ngIf ="purchases.length > 0 && !purchaseCompleted">Enviar compra</button>-->
      <app-new *ngIf="showNewProduct" (savedProduct)="newGuardado($event)"></app-new>
    </div>

  </div>

  <div class="column">
    <app-button-list [lista]="botones" (sendButtonType)="showButtonType($event)"></app-button-list>
  </div>

</div>
<!--Class container-->