<nav>
  <a routerLink="/purchases" routerLinkActive="active">purchases</a>
  <a routerLink="/purchases-dates" routerLinkActive="active">Buscar purchases</a>
</nav>
<router-outlet></router-outlet>

<h2 class="title is-3">purchases</h2>

<!--Prueba de botones
<ul>
  <li *ngFor="let prueba of botones">{{prueba.name}}, {{prueba.mostrar}}</li>
</ul>
-->

<div class="columns">

  <div class="column is-three-quarters">
    <div class="zona-tabla">
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>quantity</th>
            <th>price Kg</th>
            <th>price</th>
            <th *ngIf="!compraFinalizada">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compra of purchases">
            <td>{{compra.product.name}}</td>
            <td>{{compra.quantity}}</td>
            <td>{{compra.price}}</td>
            <td>{{compra.quantity * compra.price | number: '1.0-2'}}</td>
            <td *ngIf="!compraFinalizada"> <button (click)=eliminarCompra(compra)>Eliminar</button></td>
          </tr>
        </tbody>
      </table>

      <h1>Total: {{totalCompra()}}</h1>
      <br><br>
      <!--<button (click)=newProduct() *ngIf ="!compraFinalizada">Nueva compra</button>-->
      <p *ngIf="compraFinalizada">Compra guardada correctamente</p>

    </div>
    
    <form *ngIf="mostrarNew" [formGroup]="formulario" [class.error]="!formulario.valid && formulario.touched" #elementoForm>
      
      <div class="columns">
        <div class="column">
          <label class="label">Buscar:</label>
          <input class="input" name="buscar" type="text" (keypress)="procesarKeypress($event, product)" #buscar
            [formControl]="formulario.controls['buscar']">
          <select class="select is-multiple" id="product" name="product" size="5" (keypress)="procesarKeypress($event, quantity)" #product
            [formControl]="formulario.controls['product']">
            <option
              *ngFor="let product of products$| async | sort:'name' |filter: formulario.controls['buscar'].value"
              [ngValue]="product">
              {{product.productId}} {{product.name}} stock: {{product.stock}}</option>
          </select><br>
          <div class="help is-danger"
            *ngIf="!formulario.controls['product'].valid && formulario.controls['product'].touched">Seleccione un
            product</div>
        </div>
        <div class="column">
          <label class="label">quantity:</label> <input class="input" type="number" id="quantity" name="quantity"
            (keypress)="procesarKeypress($event, price)" #quantity [formControl]="formulario.controls['quantity']"><br>

          <div class="help is-danger"
            *ngIf="formulario.controls['quantity'].hasError('required') && formulario.controls['quantity'].touched">
            Introduzca la quantity</div>
          <div class="help is-danger"
            *ngIf="formulario.controls['quantity'].hasError('min') && formulario.controls['quantity'].touched">La quantity
            debe ser mayor que 0</div>


          <label class="label">price: </label>
          <input class="input" type="number" id="price" name="price" min=0 (keypress)="procesarKeypress($event, enviar)" #price
            [formControl]="formulario.controls['price']">
          <div class="help is-danger"
            *ngIf="formulario.controls['price'].hasError('required') && formulario.controls['price'].touched">
            Introduzca el price</div>
          <div class="help is-danger"
            *ngIf="formulario.controls['price'].hasError('min') && formulario.controls['price'].touched">El price
            debe ser mayor que 0</div>
          <div id="enviar" #enviar></div>
        </div>
      </div>
    </form>
  
    <div class="crear-new">
      <!--<button (click) = enviarCompra() *ngIf ="purchases.length > 0 && !compraFinalizada">Enviar compra</button>-->
      <app-new *ngIf="mostrarNewProduct" (productGuardado)="newGuardado($event)"></app-new>
    </div>

  </div>

  <div class="column">
    <app-button-list [lista]="botones" (enviarButtonType)="mostrarButtonType($event)"></app-button-list>
  </div>

</div>
<!--Class container-->